<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="js/vue.js" type="text/javascript"></script>
    <style>
      * {
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <div id="root">
      Surname: <input type="text" v-model="surname" /> <br />
      First Name: <input type="text" v-model="firstName" /> <br />
      <!-- 只会调用一次getter，因为缓存，所以处理较快 -->
      Full Name: <span>{{fullName}}</span><br />
      Full Name: <span>{{fullName}}</span><br />
    </div>
    <script>
      Vue.config.productionTip = false; //阻止vue启动时生成生产提示

      const vm = new Vue({
        el: "#root",
        data: {
          surname: "Bai",
          firstName: "Miranda",
        },
        //计算属性，是属性，不是方法
        computed: {
          // 确定只读不改才能简写
          // fullName: function () {
          //   console.log("processing get function...");
          //   return this.surname + "-" + this.firstName;
          // },
          //更加简洁
          fullName() {
            console.log("processing get function...");
            return this.surname + "-" + this.firstName;
          },
        },
      });
    </script>
  </body>
</html>
